<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<link rel="stylesheet" href="/css/adminPage.css">
<link rel="stylesheet" href="/css/jobOpening.css">
<title>관리자 페이지</title>
</head>
<body>
	<div class="wrapper">
		<!-- Sidebar Holder -->
		<th:block th:include="/admin/navbar/adminSidebar"></th:block>

		<!-- Page Content Holder -->
		<div id="content">
			<th:block th:include="/admin/navbar/adminUserNavbar"></th:block>

			<h2>
				<b>공고 상세</b>
			</h2>
			
			<div class="body">
				<div class="card">
					<div class="bundle">
						<div class="mb-3 row">
							<label for="staticUserCode" class="col-sm-2 col-form-label">
								회원번호
							</label>
							<div class="col-sm-10">
								<input type="number" readonly class="form-control-plaintext"
									id="staticUserCode" th:value="${userDetail.userCode}">
							</div>
						</div>
						<div class="mb-3 row">
							<label for="staticUserName" class="col-sm-2 col-form-label">
								회원명
							</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext"
									id="staticUserName" th:value="${userDetail.userName}">
							</div>
						</div>
						<div class="mb-3 row">
							<label for="staticUserBirth" class="col-sm-2 col-form-label">
								생년월일
							</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext"
									id="staticUserBirth" th:value="${userDetail.userBirth}">
							</div>
						</div>
						<div class="mb-3 row">
							<label for="staticUserGender" class="col-sm-2 col-form-label">
								성별
							</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext"
									id="staticUserGender" th:value="${userDetail.userGender}">
							</div>
						</div>
						<div class="mb-3 row">
							<label for="staticUserTel" class="col-sm-2 col-form-label">
								전화번호
							</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext"
									id="staticUserTel" th:value="${userDetail.userTel}">
							</div>
						</div>
						<div class="mb-3 row">
							<label for="staticUserEmail" class="col-sm-2 col-form-label">
								이메일(아이디)
							</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext"
									id="staticUserEmail" th:value="${userDetail.userEmail}">
							</div>
						</div>
						<div class="mb-3 row">
							<label for="staticAddress" class="col-sm-2 col-form-label">
								주소
							</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext"
									id="staticAddress" th:value="${userDetail.userZipCode}">
								<input type="text" readonly class="form-control-plaintext"
									id="staticAddress" th:value="${userDetail.userAddress}">
								<input type="text" readonly class="form-control-plaintext"
									id="staticAddress" th:value="${userDetail.userDetailAddress}">
							</div>
						</div>
						<div class="mb-2 row">
							<label for="staticResumeCode" class="col-sm-2 col-form-label">
								이력서 작성 여부
							</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext"
									id="staticResumeCode" th:value="${userDetail.resumeCode}">
							</div>
						</div>
						<div class="mb-3 row">
							<label for="staticUserJoinDate" class="col-sm-2 col-form-label">
								가입일자
							</label>
							<div class="col-sm-10">
								<input type="text" readonly class="form-control-plaintext"
									id="staticUserJoinDate" th:value="${userDetail.userJoinDate}">
							</div>
						</div>
						<!-- <form action="applyPost" method="post">
							<input type="hidden" name="annCode" th:value=${userDetail.announcementCode}>
							<div class="buttonSet">
								<button type="submit" class="btn btn-primary">회원정보 수정</button>
							</div>
						</form> -->
						
						<form action="delInfo" method="post">
							<input type="hidden" name="userCode" th:value=${userDetail.userCode}>
							<input type="hidden" name="resumeCode" th:value=${userDetail.resumeCode}>
							<div class="buttonSet">
								<button type="submit" class="btn btn-secondary">회원정보 삭제</button>
							</div>
						</form>

					</div>
				</div>

				<!-- script!!!!  -->
				<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
					integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
					crossorigin="anonymous"></script>

				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
					integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
					crossorigin="anonymous"></script>

				<script
					src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
					integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
					crossorigin="anonymous"></script>

				<script type="text/javascript">
					$(document).ready(function() {
						$('#sidebarCollapse').on('click', function() {
							$('#sidebar').toggleClass('active');
							$(this).toggleClass('active');
						});
					});
				</script>
				
				<script
					src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
					integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
					crossorigin="anonymous"></script>
</body>
</html>