<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<th:block th:replace="/navbar/beforeLoginNavBar.html::headerNavBarHead"></th:block>
    <link rel="stylesheet" href="/css/jobOpening.css">
<title>이력서 insert 페이지</title>
</head>
<body>
<div th:replace="/navbar/beforeLoginNavBar.html :: headerNavBar"></div>
	<div>
		
		
		<div class="body">
		<div class="card">
			<h1 class="title">이력서 등록</h1>
		<div>
			<form action="" method="post" th:object="${resumeItem}">
				<div class="bundle">
        			<div class="row" >
            			이력서제목 :
            				<input class="form-control form-control-sm" id="ResumeTitle"
            					type="text" placeholder="이력서제목을 입력해주세요."
            					aria-label=".form-control-sm example" th:field="*{ResumeTitle}">
        			</div>
        		</div>
				<div class="bundle">
        			<div class="row" >
            			사용할이메일 :
            				<input class="form-control form-control-sm" id="UserResumeEmail"
            					type="text" placeholder="사용할 이메일을 입력해주세요."
            					aria-label=".form-control-sm example" th:field="*{UserResumeEmail}">
        			</div>
        		</div>
				
				<div class="container">
        			<div class="row">
        				희망 고용 형태 : 
    					<select 
    					class="form-select" 
    					th:field="*{employTypeCode}"
    					>
        				<option value="">고용 형태</option>
        				<option
        					th:each="employTypeCode : ${employTypeCodes}" 
        					th:value="|${employTypeCode.code}|"
        					th:text="|${employTypeCode.name}|">정규직
        				</option>
			    		</select>
    				</div>
				</div>
				
				<div class="container">
        			<div class="row">
        				선호 직종 형태 : 
    					<select 
    					class="form-select" 
    					th:field="*{recruitFieldCode}"
    					>
        				<option value="">직종</option>
        				<option
        					th:each="recruitFieldCode : ${recruitFieldCodes}" 
        					th:value="|${recruitFieldCode.code}|"
        					th:text="|${recruitFieldCode.name}|">모집
        				</option>
			    		</select>
    				</div>
				</div>
				
				<div class="container">
        			<div class="row">
        				최종학력 : 
    					<select 
    					class="form-select" 
    					th:field="*{academicRecordCode}"
    					>
        				<option value="">학력</option>
        				<option
        					th:each="academicRecordCode : ${academicRecordCodes}" 
        					th:value="|${academicRecordCode.code}|"
        					th:text="|${academicRecordCode.name}|">학력
        				</option>
			    		</select>
    				</div>
				</div>
				
				<div class="container">
        			<div class="row">
        				경력 : 
    					<select 
    					class="form-select" 
    					th:field="*{careerCode}"
    					>
        				<option value="">경력</option>
        				<option
        					th:each="careerCode : ${careerCodes}" 
        					th:value="|${careerCode.code}|"
        					th:text="|${careerCode.name}|">경력
        				</option>
			    		</select>
    				</div>
				</div>
				
			
				
				
				
				
				<div>
					<label for="MaritalStatus">결혼여부</label>
					<input type="text" id="MaritalStatus" th:field="*{MaritalStatus}">
				</div>
				
				<div>
					<label for="CoverLetter">자기소개서</label>
					<input type="text" id="CoverLetter" th:field="*{CoverLetter}">
				</div>
				
				<div>
					<label for="License">자격증</label>
					<input type="text" id="License" th:field="*{License}">
				</div>
				
				<div>
					<label for="Activity">대외활동</label>
					<input type="text" id="Activity" th:field="*{Activity}">
				</div>
				
				<div>
					<label for="Portfolio">포트폴리오</label>
					<input type="text" id="Portfolio" th:field="*{Portfolio}">
				</div>
				<div>
					<label for="ReadingCode">열람여부</label>
					<input type="text" id="ReadingCode" th:field="*{ReadingCode}">
				</div>
				
				<div>
					<button type="submit">저장하기</button>
					<button type="button" th:onclick="|location.href='@{/}'|">취소</button>
				</div>
			</form>
		</div>
		
		</div>
		</div>
	</div>
</body>
</html>