<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>이력서 관리 페이지</title>
</head>
<body>
	<div>이력서 관리 페이지 입니다.</div>
	<div>
		<table>
			<thead>
				<tr>
					<th>이력서제목</th>
					<th>회원이메일</th>
					<th>공고형태</th>
					<th>모집분야</th>
					<th>학력</th>
					<th>경력</th>
					<th>병역</th>
					<th>결혼여부</th>
					<th>자격증</th>
					<th>대외활동</th>
					<th>포트폴리오</th>
					<th>자기소개서</th>
					<th>열람여부</th>
				</tr>
			</thead>
			
			<tbody>
				<tr>
					<td th:text="${resume.ResumeTitle}">제목</td>
					<td th:text="${resume.UserResumeEmail}">이메일</td>
					<td th:text="${resume.EmployTypeCode}">공고</td>
					<td th:text="${resume.RecruitFieldCode}">모집</td>
					<td th:text="${resume.AcademicRecordCode}">학력</td>
					<td th:text="${resume.CareerCode}">경력</td>
					<td th:text="${resume.MilitaryStatus}">병역</td>
					<td th:text="${resume.MaritalStatus}">결혼</td>
					<td th:text="${resume.License}">자격증</td>
					<td th:text="${resume.Activity}">활동</td>
					<td th:text="${resume.Portfolio}">포트폴리오</td>
					<td th:text="${resume.CoverLetter}">자기소개</td>
					<td th:text="${resume.ReadingCode}">열람</td>
				</tr>
			</tbody>
		</table>
		<button type="button" th:onclick="|location.href='@{/}'|">뒤로가기</button>
		<button th:onclick="|location.href='@{/resumes/update/{userCode}(userCode=${resume.userCode})}'|">이력서수정</button>
		<button th:onclick="|location.href='@{/resumes/delete/{userCode}(userCode=${resume.userCode})}'|">이력서삭제</button>
	</div>
</body>
</html>