<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>JobItem Detail 페이지</h1>
	<div>
		<table>
			<thead>
				<tr>
					<th>회사명</th>
					<th>공고명</th>
					<th>급여</th>
					<th>채용타입</th>
					<th>근무지역</th>
					<th>경력</th>
					<th>학력</th>
					<th>직종</th>
					<th>모집인원</th>
					<th>시작일</th>
					<th>마감일</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td th:text="${list.corName}">회사명</td>
					<td th:text="${list.announcement}">채용내용</td>
					<td th:text="${list.salary}">급여</td>
					<td>
						<span th:each="option : ${list.employType}" th:text="|${option} |">채용타입</span>
					</td>
					<td>
						<span th:each="option : ${list.workingArea}" th:text="|${option} |">근무지역</span>
					</td>
					<td th:text="${list.career}">경력</td>
					<td>
						<span th:each="option : ${list.academicRecord}" th:text="|${option} |">학력</span>
					</td>
					<td th:text="${list.recruitField}">직종</td>
					<td th:text="${list.recruitPerson}">모집인원</td>
					<td th:text="${list.receiptStartDate}">시작일</td>
					<td th:text="${list.receiptEndDate}">마감일</td>
					
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>