<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="sample.project.jobissue.repository.mybatis.JobApplicationMapper">


	<select id="selectByUserResume" resultType="ResumeItem">
	select *
	FROM RESUME
	where USER_CODE = (select USER_CODE from USER_INFO where user_code = #{userCode})
	</select>
	
	<insert id="insertSubmitResume" >
	INSERT INTO SubmitResume
	SELECT
    (select cor_code from Recruitment where cor_code = #{corCode} and Announcement_Code = #{announcementCode}) as COR_CODE,
    USER_CODE,
    User_ResumeEmail ,
    Military_Status ,
    Marital_Status ,
    EmployType_Code ,
    Recruit_Field_Code ,
    Resume_title ,
    Academic_record_Code ,
    Career_Code ,
    Cover_letter ,
    License ,
    Activity ,
    Portfolio ,
    Reading_Code ,
    RESUME_DATE
	FROM resume
	where 
    USER_CODE = (select USER_CODE from USER_INFO where user_code = #{userCode})
	</insert>
	
	
	
	<select id="selectByCode" resultType="JobItem">
	select cor_code, ANNOUNCEMENT_CODE
	FROM Recruitment
	where
	cor_code = #{corCode}
	and Announcement_Code = #{AnnouncementCode};
	</select>
	
</mapper>