<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="sample.project.jobissue.repository.mybatis.JobApplicationMapper">
	
	
	<select id="selectByUserResume" resultType="ResumeItem">
	select *
	FROM RESUME
	where USER_CODE = (select USER_CODE from USER_INFO where user_code = #{userCode})
	</select>
	
	
</mapper>