<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="sample.project.jobissue.repository.mybatis.ResumeMapper">
	
	<insert id="insertResume" parameterType="ResumeItem" >
		insert into RESUME
		(
			USER_CODE,
			User_ResumeEmail,
			Military_Status,
			Marital_Status,
		 	EmployType_Code,
		 	Recruit_Field_Code,
		 	Resume_title,
		 	Academic_record_Code,
			Career_Code,
			Cover_letter,
			License,
			Activity, 
			Portfolio,
			Reading_Code,
			RESUME_DATE
		)
		
		values
		(
			(select USER_CODE from USER_INFO where user_code = #{userCode}),
			#{UserResumeEmail},
			#{MilitaryStatus},
			#{MaritalStatus},
			(select employtype_code from EmployTypeCode where EmployType_Code = #{EmployTypeCode}),
			(select Recruit_Field_code from RecruitFieldCode where Recruit_Field_Code = #{RecruitFieldCode}),
			#{ResumeTitle},
			(select Academic_Record_code from AcademicRecordCode where Academic_Record_Code = #{AcademicRecordCode}),  
			(select Career_code from CareerCode where Career_Code = #{CareerCode}),
			#{CoverLetter},
			#{License},
			#{Activity},  
			#{Portfolio},
			#{ReadingCode},
			sysdate
		)
		
	</insert>
	
	<select id="selectByUserCode" resultType="ResumeItem">
	select *
	FROM RESUME
	where USER_CODE = (select USER_CODE from USER_INFO where user_code = #{userCode})
	</select>
	
			
	<update id="update">
		update RESUME
		SET 
		Resume_title = #{updateItem.ResumeTitle} ,
		User_ResumeEmail = #{updateItem.UserResumeEmail} ,
		EmployType_Code = #{updateItem.EmployTypeCode} ,
		Recruit_Field_Code = #{updateItem.RecruitFieldCode} ,
		Academic_record_Code = #{updateItem.AcademicRecordCode} ,
		Career_Code = #{updateItem.CareerCode} ,
		Military_Status = #{updateItem.MilitaryStatus} ,
		Marital_Status = #{updateItem.MaritalStatus} ,
		License = #{updateItem.License} ,
		Activity = #{updateItem.Activity} ,
		Portfolio = #{updateItem.Portfolio} ,
		Cover_letter = #{updateItem.CoverLetter} ,
		Reading_Code = #{updateItem.ReadingCode}, 
		RESUME_DATE = sysdate
		WHERE USER_CODE = (select USER_CODE from USER_INFO where user_code = #{userCode})
	</update>
	
	<delete id="deleteResume">
		delete 
		from RESUME 
		where USER_CODE = (select USER_CODE from USER_INFO where user_code = #{userCode})
	</delete>
	

	<update id="insertAfter">
		update USER_INFO
		set
		resume_code = 'Y'

		where USER_CODE = (select USER_CODE from USER_INFO where user_code = #{userCode})
	</update>
	
		<update id="deleteAfter">
		update USER_INFO
		set
		resume_code = 'N'

		where USER_CODE = (select USER_CODE from USER_INFO where user_code = #{userCode})
	</update>
</mapper>