<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:replace="/navbar/afterLoginNavBar2.html::headerNavBarHead"></th:block>
<title>회원정보 수정</title>
<link rel="stylesheet" href="/css/myPage.css">
</head>

<body class="hold-transition register-page">
	<div th:replace="/navbar/afterLoginNavBar2.html :: headerNavBar"></div>
	<div id="con">
		<div id="login">
			<div id="login_form">
				<h1 align="center">회원정보수정</h1>
				<hr>
				<div class="">
					<form action="/user/update" method="post">
						<table>
							<tr>
								<td>* 아이디</td>
								<td><input type="email" name="userEmail"
									th:value="${userVO.userEmail}" readonly></td>
							</tr>
							<tr>
								<td>* 비밀번호</td>
								<td><input type="password" name="userPassword"></td>
							</tr>
							<tr>
								<td>* 이름</td>
								<td><input type="text" name="userName"
									th:value="${userVO.userName}" readonly></td>
							</tr>
							<tr>
								<td>* 성별</td>
								<td><input type="text" name="userGender"
									th:value="${userVO.userGender}" readonly></td>
							</tr>
							<tr>
								<td>* 전화번호</td>
								<td><input type="text" name="userTel"
									th:value="${userVO.userTel}" oninput="autoHyphen2(this)"
									maxlength="13"></td>
							</tr>
							<tr>
								<td>* 우편번호</td>
								<td><input type="text" name="userZipCode" id="userZipCode"
									th:value="${userVO.userZipCode}" readonly></td>
								<td><input type="button"
									onclick="sample6_execDaumPostcode()" value="우편번호 찾기"></td>
								<!-- 배열로 값을 받았다면 ${addreess[0]}으로 표기하여 출력할수 있다-->
							</tr>

							<tr>
								<td>* 주소</td>
								<td><input type="text" name="userAddress" id="userAddress"
									th:value="${userVO.userAddress}" readonly></td>
							</tr>
							<tr>
								<td>* 상세주소</td>
								<td><input type="text" name="userDetailAddress"
									id="userDetailAddress" th:value="${userVO.userDetailAddress}"></td>
							</tr>
							<tr>
								<td colspan="2" align="center">
									<input type="submit" th:value="수정하기">
									<button type="button"
										th:onclick="removeUser([[${userVO.userEmail}]]);">탈퇴하기</button>
									<!-- //type을 button으로 꼭 적어줘야! submit이 되지 않는다!! 꼭 기억하기! -->
									<button type="button" th:onclick="|location.href='@{/}'|">취소하기</button>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
			function removeUser(userEmail) {
				if(window.confirm("탈퇴하시겠습니까?")){
					location.href="/user/drop/" + userEmail;
				}
			}
	</script>
	<script
		src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("userAddress").value = addr + extraAddr;
                
                } else {
                    document.getElementById("userAddress").value = addr + '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('userZipCode').value = data.zonecode;
//                 document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("userDetailAddress").value = "";
                document.getElementById("userDetailAddress").focus();
            }
        }).open();
    }
	</script>
	<script>
		const autoHyphen2 = (target) => {
		 target.value = target.value
		   .replace(/[^0-9]/g, '')
		  .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
		}
	</script>
</body>
</html>