<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:replace="/navbar/afterLoginNavBar2.html::headerNavBarHead"></th:block>
<title>회원정보 수정</title>
<link rel="stylesheet" href="/css/myPage.css">
</head>

<body class="hold-transition register-page">
	<div th:replace="/navbar/afterLoginNavBar2.html :: headerNavBar"></div>
	<div id="con">
		<div id="login">
			<div id="login_form">
				<h1 align="center">회원정보수정</h1>
				<hr>
				<div class="">
					<form action="/user/passwordUpdate" method="post">
						<table>
							<tr>
								<td>* 현재비밀번호</td>
								<td><input type="password" name="userPassword"></td>
							</tr>
							
							<tr>
								<td>* 비밀번호변경</td>
								<td><input type="password" name="newPassword"></td>
							</tr>
							
							<tr>
								<td>* 비밀번호변경확인</td>
								<td><input type="password" name="checkPassword"></td>
							</tr>

							<tr>
								<td colspan="2" align="center">
									<button type="submit" class="joinButton" th:value="변경하기">변경하기</button>
									<button type="button" class="joinButton" th:onclick="|location.href='@{/user/myPage}'|">취소하기</button>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>