<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel = "stylesheet" href="/css/register.css">
</head>

<body class="hold-transition register-page" style="
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
">
	<div id="con">
		<div id="login">
			<div id="login_form">
				<!--로그인 폼-->

				<div class="register-box">

					<div class="card">
						<div class="card-body register-card-body">
							<h3 class="login">회원가입(기업)</h3>

							<form action="/user/register/cop" method="post"
								th:object="${userRegisterForm}">
								<div th:if="${#fields.hasGlobalErrors()}">
									<p th:each="error : ${#fields.globalErrors()}"
										th:text="${error}">글로벌오류</p>
								</div>
								<hr style="margin-bottom:15px; border:solid 1px rgb(93, 123, 179)">
								<div class="login-input-row-con">
									<label> <span class="login_form_subject_left"
										style="text-align: left; font-size: 12px; color: #666">아이디</span>
										<input type="email" name="userEmail" class="form-control size"
										placeholder="exsample@sample.com" th:field="*{userEmail}">
										<div th:errors="*{userEmail}"></div>
									</label>
								</div>

								<!--아이디-->

								<div class="login-input-row-con">
									<label> <span class="login_form_subject_left"
										style="text-align: left; font-size: 12px; color: #666">기업명</span>
										<input type="text" name="corName" class="form-control size"
										placeholder="기업명" th:field="*{corName}">
										<div th:errors="*{corName}"></div>
									</label>
								</div>

								<div class="login-input-row-con">
									<label> <span class="login_form_subject_left"
										style="text-align: left; font-size: 12px; color: #666">비밀번호</span>
										<input type="password" name="userPassword"
										class="form-control size" placeholder="비밀번호"
										th:field="*{userPassword}">
										<div th:errors="*{userPassword}"></div>
									</label>
								</div>

								<div class="login-input-row-con">
									<label> <span class="login_form_subject_left"
										style="text-align: left; font-size: 12px; color: #666">비밀번호
											확인</span> <input type="password" class="form-control size"
										placeholder="비밀번호 확인" name="userPasswordConfirm"
										th:field="*{userPasswordConfirm}">
										<div th:errors="*{userPasswordConfirm}"></div>
									</label>
								</div>

								<div class="row">
									<div class="col-8">
										<div class="icheck-primary" style="margin-top: 8px; margin-bottom: 10px;">
											<input type="checkbox" id="agreeTerms" name="terms"
												value="agree"> <label for="agreeTerms"> 약관에
												동의합니다 <a href="#">약관</a>
											</label>
										</div>
									</div>
									
									<div class="col-4 align-center">
										<button type="submit" class="btn btn-primary btn-block">회원가입</button>
									</div>
									<!-- /.col -->
								</div>
							</form><br>
							<div class="align-center">
								<a href="/user/login" class="text-center">로그인 페이지로 이동</a>
							</div>
						</div>
						<!-- /.form-box -->
					</div>
					<!-- /.card -->
				</div>

			</div>
		</div>
	</div>

</body>
</html>