<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel = "stylesheet" href="/css/register.css">

</head>
<body class="hold-transition register-page" style="
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
">
	<div id="con">
		<div id="login">
			<div id="login_form">
				<!--로그인 폼-->

				<div class="register-box">

					<div class="card">
						<div class="card-body register-card-body">
							<h3 class="login">회원가입</h3>

							<form action="/user/register" method="post"
								th:object="${userRegisterForm}">
								<div th:if="${#fields.hasGlobalErrors()}">
									<p th:each="error : ${#fields.globalErrors()}"
										th:text="${error}">글로벌오류</p>
								</div>
								<hr style="margin-bottom:15px; border:solid 1px rgb(93, 123, 179)">
								<div class="login-input-row-con">
									<label> <span class="login_form_subject_left"
										style="text-align: left; font-size: 12px; color: #666">아이디</span>
										<input type="email" name="userEmail" class="form-control size"
										placeholder="exsample@sample.com" th:field="*{userEmail}">
										<div th:errors="*{userEmail}"></div>
									</label>
								</div>

								<!--아이디-->

								<div class="login-input-row-con">
									<label> <span class="login_form_subject_left"
										style="text-align: left; font-size: 12px; color: #666">이름</span>
										<input type="text" name="userName" class="form-control size"
										placeholder="이름" th:field="*{userName}">
										<div th:errors="*{userName}"></div>
									</label>
								</div>

								<div class="login-input-row-con">
									<label> <span class="login_form_subject_left"
										style="text-align: left; font-size: 12px; color: #666">생년월일</span>
										<input type="date" name="userBirth" class="form-control size"
										max="9999-12-31" placeholder="생년월일" th:field="*{userBirth}">
										<div th:errors="*{userBirth}"></div>
									</label>
								</div>

								<div class="login-input-row-con">
									<label> <span class="login_form_subject_left"
										style="text-align: left; font-size: 12px; color: #666">비밀번호</span>
										<input type="password" name="userPassword"
										class="form-control size" placeholder="비밀번호"
										th:field="*{userPassword}">
										<div th:errors="*{userPassword}"></div>
									</label>
								</div>

								<div class="login-input-row-con">
									<label> <span class="login_form_subject_left"
										style="text-align: left; font-size: 12px; color: #666">비밀번호
											확인</span> <input type="password" class="form-control size"
										placeholder="비밀번호 확인" name="userPasswordConfirm"
										th:field="*{userPasswordConfirm}">
										<div th:errors="*{userPasswordConfirm}"></div>
									</label>
								</div>

								<div class="login-input-row-con">
									<label> 
									<span class="login_form_subject_left"
										style="text-align: left; font-size: 12px; color: #666">성별</span>
									</label>
										<select style="margin:7px; border:solid 0.5px;" th:field="*{userGender}">
											<option th:value="N" th:text="'선택'"></option>
											<option th:value="남자" th:text="'남자'"></option>
											<option th:value="여자" th:text="'여자'"></option>
									</select>
										<div th:errors="*{userGender}"></div>
									
								</div>

								<div class="login-input-row-con">
									<label> <span class="login_form_subject_left"
										style="text-align: left; font-size: 12px; color: #666">전화번호</span>
										<input type="text" name="userTel" class="form-control size"
										th:field="*{userTel}" oninput="autoHyphen2(this)"
										maxlength="13" placeholder="전화번호">
										<div th:errors="*{userTel}"></div>
									</label>
								</div>

								<div class="login-input-row-con">
									<label>
										<p style="text-align: left; font-size: 12px; color: #666">우편번호</p>
										<input type="text" name="userZipCode"
										class="form-control size" th:field="*{userZipCode}"
										id="userZipCode" placeholder="우편번호" readonly> <!-- 						<div class="input-group-append"> -->
										<!-- 							<div class="input-group-text"> --> <!-- 								<span class="fas fa-lock"></span> -->
										<!-- 							</div> --> <!-- 						</div> --> <input
										type="button" onclick="sample6_execDaumPostcode()"
										value="우편번호 찾기">
										<div th:errors="*{userAddress}"></div>
								</div>


								<div class="login-input-row-con">
									<input type="text" name="userAddress" class="form-control size"
										th:field="*{userAddress}" id="userAddress" placeholder="주소"
										readonly>
								</div>

								<div class="login-input-row-con">
									<input type="text" name="userDetailAddress"
										class="form-control size" th:field="*{userDetailAddress}"
										id="userDetailAddress" placeholder="상세주소">
									</label>
								</div>
								<div class="row">
									<div class="col-8">
										<div class="icheck-primary" style="margin-top: 8px; margin-bottom: 10px;">
											<input type="checkbox" id="agreeTerms" name="terms"
												value="agree"> <label for="agreeTerms"> 약관에
												동의합니다 <a href="#">약관</a>
											</label>
										</div>
									</div>
									
									<div class="col-4 align-center">
										<button type="submit" class="btn btn-primary btn-block">회원가입</button>
									</div>
									<!-- /.col -->
								</div>
							</form><br>
							<div class="align-center">
								<a href="/user/login" class="text-center">로그인 페이지로 이동</a>
							</div>
						</div>
						<!-- /.form-box -->
					</div>
					<!-- /.card -->
				</div>

			</div>
		</div>
	</div>
	<script
		src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("userAddress").value = addr + extraAddr;
                
                } else {
                    document.getElementById("userAddress").value = addr + '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('userZipCode').value = data.zonecode;
//                 document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("userDetailAddress").focus();
            }
        }).open();
    }
</script>
	<script>
		const autoHyphen2 = (target) => {
		 target.value = target.value
		   .replace(/[^0-9]/g, '')
		  .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
		}
	</script>
</body>
</html>