@charset "EUC-KR";
.body{
    background-color: rgb(240, 241, 241);
    width: 100%;
    
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    align-items: center;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
    border-radius: 0;
}

#recruitTable{
	width: 600px;
	margin-top: 50px;
	margin-bottom : 100px;
	text-align: center;
	
}

a{
	text-decoration: underline;
}

.title{
    margin-top: 50px;
    border-bottom: solid 2px rgb(93, 123, 179);
    width: 80%;
    padding-bottom: 20px;
    font-weight: bold;

}
.modal-body{
	display: flex;
	align-items: center;
	justify-content: center;
}
.applicantTable{
	width: 90%;
}

.nullContent{
	
	margin-top:50px;
	margin-bottom: 100px;
	width: 100%;
	display: inline-block;
}

@media only screen and (max-width:688px){

    .title{
        width: 400px;
        
    }

    .card{
        width: 600px;
    }

    .accordion-body, .accordion-button{
        width: 400px;
    }
    .table{
        width: 400px;
    }
}