.title{
    border-bottom: solid 2px rgb(93, 123, 179);
    width: 90%;
    margin-top: 40px;
    margin-left: 5%;
    padding-bottom: 20px;
    font-weight: bold;
}

.body{
    background-color: rgb(240, 241, 241);
/*     margin-top: 50px; */
    border-top: solid 3px rgb(43, 94, 189);
    height: 1000px; /*임시 설정*/
}

#resumeTitle{
	text-align: center;
	}

#button2{
    width: 100px;
    position: relative;
    left: 45%;
}	
	

.card{
    margin-top: 50px;
    width: 90%;
    position: relative;
    left: 5%;
    height: 50%;
    border-radius: 0;
}

.form-select {
    margin-top: 50px;
    width: 50%;
    position: relative;
    left: 25%;
}

.table{
    margin-top: 50px;
    width: 80%;
    position: relative;
    left: 10%;
    text-align: center;
}

@media only screen and (max-width:688px) {
	.card{
		width: 600px;
	}
	}