<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<th:block th:replace="/navbar/afterLoginNavBar.html::headerNavBarHead"></th:block>
<link rel="stylesheet" href="../css/jobOpening.css">
<title>공고</title>

<th:block th:replace="/navbar/footer.html:: footerHeader"></th:block>

</head>
<style>
</style>
<body>

	<div th:replace="/navbar/afterLoginNavBar.html :: headerNavBar"></div>

	<form
		th:action="@{delete/{announcementCode}(announcementCode=${recruit.announcementCode})}"
		method="post" th:object="${recruit}" id="deleteForm">
		<div class="body">
			<div class="card">

				<h3 class="title">공고</h3>

				<div class="bundle2">
					<div class="row">
						공고명 :
						<div th:text="${recruit.announcement}"></div>
					</div>
				</div>

				<div class="bundle2">
					<div class="row">
						공고 게시 기간 :
						<div th:text="${recruit.receiptStartDate}"></div>
						~
						<div th:text="${recruit.receiptEndDate}"></div>
					</div>
				</div>

				<div class="bundle2">
					<div class="row">
						모집분야 :
						<div th:text="${recruit.recruitField}"></div>

					</div>
				</div>

				<div class="bundle2">
					<div class="row">
						급 여 :
						<div th:text="${recruit.salary}"></div>
					</div>
				</div>

				<div class="bundle2">
					<div class="row">
						희망 고용 형태 :
						<div th:text="${recruit.employType}"></div>
					</div>
				</div>

				<div class="bundle2">
					<div class="row">
						희망 경력 :
						<div th:text="${recruit.career}"></div>
					</div>
				</div>

				<div class="bundle2">
					<div class="row">
						근무 가능 지역 :
						<div th:text="${recruit.workingArea}"></div>
					</div>
				</div>


				<div class="bundle2">
					<div class="row">
						희망 모집 인원 :
						<div th:text="${recruit.recruitPerson}"></div>
					</div>
				</div>

				<div class="bundle2">
					<div class="row">
						희망 학력 :
						<div th:text="${recruit.academicRecord}"></div>
					</div>
				</div>


				<div class="buttonSet2">
					<button type="submit" style="visibility: hidden;"></button>
					<button type="button" class="btn btn-secondary" id=cancelButton
						th:onclick="|location.href='@{/manageOpening}'|">취소</button>
					<button type="button" class="btn btn-danger" id=deleteButton
						th:onclick="deleteJobOpen('[[${recruit.announcementCode}]]');">삭제</button>
				</div>
			</div>

		</div>
	</form>



	<div th:replace="/navbar/footer.html :: footer"></div>

	<script>
		function deleteJobOpen(announcementCode) {
			var result = confirm("공고를 정말로 삭제하시겠습니까? 한 번 삭제된 공고는 저장되지 않습니다.");

			if (result == true) {
				alert("삭제되었습니다.");
				document.getElementById('deleteForm').submit();
			} else {
				alert("취소되었습니다.");
			}

		}
	</script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
	<script src="../js/select.js"></script>
	<script src="https://kit.fontawesome.com/9ba603b7d5.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>

</body>
</html>